/* CSS Defaults v5.25.3, https://github.com/anandgraves/css-defaults */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  font-size: 100%;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  overflow-y: scroll;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 125%;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

img {
  vertical-align: middle;
}

label,
button,
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
input[type="file"] {
  cursor: pointer;
}

template {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

iframe {
  border: 0;
}
