/* CSS Defaults v5.26.3, https://github.com/anandgraves/css-defaults */

/**
  * 1. Some type of properties are not inherited by default and some elements do not inherit some properties.
  *    This is to make sure to inherit properties from the global scope.
  *    https://www.smashingmagazine.com/2016/11/css-inheritance-cascade-global-scope-new-old-worst-best-friends/
  * 2. Hide default underlining for links. Most links are usually not text links but user interface elements.
  */
* {
  font-family: inherit; /* [1] */
  line-height: inherit; /* [1] */
  color: inherit; /* [1] */
  font-size: 100%; /* [1] */
  text-decoration: none; /* [2] */
  margin: 0;
  padding: 0;
}

/**
 * Using border-box for box sizing.
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * 1. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 *    https://github.com/necolas/normalize.css
 * 2. Improve readability with font smoothing
 *    https://davidwalsh.name/font-smoothing
 * 3. Use sans-serif as a system fallback font
 *    https://css-tricks.com/sans-serif/
 * 4. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 *    https://github.com/inuitcss/inuitcss/blob/develop/elements/_elements.page.scss
 */
html {
  -ms-text-size-adjust: 100%; /* [1] */
  -webkit-text-size-adjust: 100%; /* [1] */
  -webkit-font-smoothing: antialiased; /* [2] */
  -moz-osx-font-smoothing: grayscale; /* [2] */
  font-family: sans-serif; /* [3] */
  overflow-y: scroll; /* [4] */
}

/**
 * Add the correct display for <main> up to IE 11.
 */
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 125%;
  font-weight: normal;
}

/**
 * Default list style type is usually replaced or it's use is semantic where no list style type is needed.
 */
ul {
  list-style: none;
}

/**
 * An anchor with the href attribute does not inherit the color.
 */
a {
  color: inherit;
}

/**
 * Set the default cursor on certain form elements for a better user experience.
 */
label,
button,
input[type="radio"],
input[type="checkbox"],
input[type="submit"],
input[type="file"] {
  cursor: pointer;
}

[hidden] {
  display: none;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

iframe {
  border: 0;
}
